name: CI ThingsBoard - LOG8371

on:
  push:
    branches: [ master, main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: 'maven'

      - name: Compilation et Tests
        run: mvn clean install -pl common/data,common/util -am -Dlicense.skip=true -Dcheckstyle.skip=true -Dformatter.skip=true -Dimpsort.skip=true

      - name: Lancer ThingsBoard
        run: |
          docker run -d --name tb -p 8080:8080 thingsboard/tb-postgres
          sleep 30
          docker logs tb | tail -n 20
          docker ps | grep tb
          docker stop tb
          docker rm tb